body{
    margin:0px;

}

h1, h3{
    text-align:center;
    margin-top:0px;
}

#ensemblecartes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    width:70%;

}

.carterecto{
    border:1px solid black;
    margin:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

img{
    max-width: 100%;
}

.contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.scoring, .error, .finish {
    text-align:center;
}